# Bases de datos (usa el nombre exacto que sale en tu VS Code)
services/database/inventario.db

# Python y Cache
__pycache__/
__init__.py

# Entornos virtuales
.env
.venv/
env/
venv/

# Cobertura
.coverage
htmlcov/